{
  "plugins": [
    "transform-class-properties",
    "babel-plugin-transform-object-rest-spread"
  ],
  "presets": [
    "minify",
    ["env", {
      "targets": {
        "node": "6.10"
      }
    }]
  ]
}
